<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina de la lista de personajes por razar de Star Wars">
    <title>{% block titulo %}Star Wars{% endblock %}</title>
    {% block css %}    
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/grids-responsive-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'img'%}">
    {% endblock %}
    {% block javascript %}
    {% endblock %}    
</head>

</html>
