<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title> TESLA </title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="icons/css/all.css" rel="stylesheet">
    <!--load all styles -->


</head>

<body>

    <section class="header">

        <nav>
            <a href="index.html"><img src="images/logo2.png" alt=""></a>
            <div class="nav-links">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about-us.html">ABOUT US</a></li>
                    <li><a href="shop.html">SHOP</a></li>
                    <li><a href="contact-us.html">CONTACT</a></li>
                </ul>
            </div>
        </nav>

        <div class="text-box">
            <p>Order online for Touchless Delivery</p>
            <a href="shop.html" class="shop-button">SHOW CARS</a>
        </div>
    </section>


    <section class="cars">
        <h1>MODEL S 3 X Y</h1>
        <p>Currently, you can choose from the flagship Tesla Model S or Model X, or the less expensive Model 3 or Model
            Y. While the Model S and Model 3 are sedans, the Model X and Model Y are crossovers.</p>

        <div class="row">
            <div class="cars-col">
                <h3>Model S</h3>
                <p>Model S- Starts at $79,990 up to $115,490 across two trim levels. <br> Long Range and Performance.
                    <br>
                    Model X- Lowest range is 305 miles on performance up to 351 miles on long range.
                </p>
            </div>

            <div class="cars-col">
                <h3>Model 3</h3>
                <p>Model 3- Starts at $35,000 up to $66,990 across four trim levels. <br> Standard Range, Standard Range
                    Plus, Long Range AWD, and Performance AWD. <br>Model 3- 250 miles on standard range plus up to 322
                    miles on performance and long range. </p>
            </div>

            <div class="cars-col">
                <h3>Model X</h3>
                <p>Model X- Starts at $84,990 up to $128,990 across two trim levels. <br> Long Range and Performance.
                    <br>
                    Model S- 348 miles on performance up to 391 miles on long range.
                </p>
            </div>

            <div class="cars-col">
                <h3>Model Y</h3>
                <p>Model Y- Starts at $39,000 up to $73,990 across three trim levels. <br> Standard Range, Long Range
                    AWD,
                    and Performance AWD. <br>Model Y- 230 miles on standard range up to 315 miles on long range.</p>
            </div>
        </div>


    </section>


    <section class="superchargers">
        <h1>TESLA SUPERCHARGING</h1>
        <p>With a broad network of fast charging, automatic battery preconditioning and the exceptional range of every
            Tesla car, you'll spend even more time on the road.</p>

        <div class="row">
            <div class="supercharger-col">
                <img src="images/s1.jpg" alt="">
                <h3>Go Anywhere</h3>
                <p>With 25,000+ Superchargers, Tesla owns and operates the largest global, fast charging network in the
                    world. <br> Located on major routes near convenient amenities, Superchargers keep you charged when
                    you're away from home. Simply plug in, charge and go.</p>
            </div>

            <div class="supercharger-col">
                <img src="images/s3.jpg" alt="">
                <h3>Enter a Destination</h3>
                <p>Enter a destination on your touchscreen and Trip Planner will automatically calculate your route with
                    Superchargers along the way. <br> Trip Planner considers driving style, elevation, outside
                    temperature, traffic, stall availability and more, offering a convenient door-to-door experience</p>
            </div>

            <div class="supercharger-col">
                <img src="images/s2.jpg" alt="">
                <h3>Cheaper Than Gas</h3>
                <p>The goal of the Supercharger network is to enable freedom of travel for Tesla owners at a fraction of
                    the cost of gasoline. <br> Reduce your cost per mile and never pay for gas again.</p>
            </div>

        </div>


    </section>


    <section class="contact-us">
        <h1>GOT ANY QUESTIONS? CONTACT US</h1>
        <a href="" class="shop-button">CONTACT US</a>
    </section>


    <!--Footer-->

    <section class="footer">
        <h4>Nuestras Redes</h4>
        <p>Comparte y habla con nostros en nuestras redes sociales!</p>

        <div class="icons">
            <i class="fab fa-facebook-square" ></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-linkedin-square"></i>
        </div>

        <p>Ingenieria Web Primera Entrega</p>
    </section>



</body>

</html>